* {
    margin: 0;
    padding: 0;

}



h1 {
    font-size: 50px;
    font-weight: 700;
    color: #f21b1b;
    text-align: center;
    height: 10vh;
    width: 100vw;
    text-align: center;
}


div.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}


.card {

    width: 300px;
    border-radius: 8px;

    box-shadow: 10px 10px 10px 0px grey;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.text {
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-align: center;


}

@media(max-width:460px) {
    .h1 {
        text-align: center;
        font-size: 30px;
    }

    .box {
        display: flex;
        flex-direction: column;
        /* Change the flex direction to column */
        padding: 20px;
        /* Adjust the padding value as needed */
    }

    .card {
        margin-bottom: 20px;
        /* Add spacing between the cards */
        padding: 15px;
        /* Adjust the padding value as needed */
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
            0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .text {
        padding: 10px;
        /* Adjust the padding value as needed */
    }

}

@media(max-width:776px) {
    .h1 {
        text-align: center;
        font-size: 45px;

    }


    .box {

        display: flex;
        flex-wrap: wrap;

        padding: 20px;

    }

    .card {
        margin-bottom: 20px;
        /* Add spacing between the cards */
        padding: 15px;
        /* Adjust the padding value as needed */
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
            0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .text {
        padding: 20px;
        /* Adjust the padding value as needed */



    }

}